.__board_extend{
    height: 100vh;
    display: flex;
    flex-direction: column;

}

.__section_welcome{
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.__section_welcome_message{
 p{
    
     font-size: 20pt;
     line-height: 25pt;
}
img{
    width: 100%;
    object-fit: contain;
}

    
}

.__button_flex{
    display: flex;
    justify-content: center;
}

.__section_welcome > img{
    position: relative;
    object-fit: contain;

    width: 100%;
    left: -40px;
    top: 67px;
    
    
}


.__section_heroes{
    height: max-content;
}

.__footer_welcome{
    height: max-content;
    flex-grow: 3;
    background-color:$bg_primary ;
    padding: 2em;
}

@media only screen
and (min-device-width: 866px)
and (orientation: portrait) {

    .__section_welcome{
        flex-wrap: wrap-reverse;
     
    }
    .__section_welcome > img{
        height: 100%;
    }
}

@media only screen
and (min-device-width: 360px)
and (orientation: portrait) {
    .__section_welcome{
        flex-wrap: wrap-reverse;
        p{
    
            font-size: 12pt;
            line-height: 16pt;
       }
    }
    .__section_welcome > img{
        height: 100%;
        left: 0px;
        top: 40px;
    }
    .__footer_welcome{
        display: none;
    }
}

@media only screen
and (max-device-width: 320px)
and (orientation: portrait) {
    .__section_welcome{
        flex-wrap: wrap-reverse;
        p{
    
            font-size: 12pt;
            line-height: 16pt;
       }
    }
    .__section_welcome > img{
        height: 100%;
        left: 0px;
        top: 40px;
    }

    .__header_title h1{
        font-size: 14pt;
    }
    .__header_title p{
        font-size: 10pt;
    }
    .__footer_welcome{
        display: none;
    }
}

@media only screen
and (max-device-width: 375px)
and (orientation: portrait) {
    .__header_title h1{
        font-size: 14pt;
    }
    .__header_title p{
        font-size: 10pt;
    }
}

@media only screen
and (max-device-width: 280px)

and (orientation: portrait) {
    .__header_title h1{
        font-size: larger;
    }
    .__footer_welcome{
        display: none;
    }
}