$max: 50;
$offset: 5;
$unit: 'px'; // Feel free to change the unit.
@mixin spaces-loop($className, $styleName) {
    $i: 0;
    @while $i <=$max {
        #{$className + $i} {
            #{$styleName}: #{$i + $unit};
        }
        $i: $i+$offset;
    }
}

// Margins
@include spaces-loop('.mt-', 'margin-top');
@include spaces-loop('.mr-', 'margin-right');
@include spaces-loop('.mb-', 'margin-bottom');
@include spaces-loop('.ml-', 'margin-left');
@include spaces-loop('.mx-', 'margin');
// Paddings
@include spaces-loop('.pt-', 'padding-top');
@include spaces-loop('.pr-', 'padding-right');
@include spaces-loop('.pb-', 'padding-bottom');
@include spaces-loop('.pl-', 'padding-left');
@include spaces-loop('.px-', 'padding');