.__input_form{
    outline: transparent;
    background-color:$bg_inside ;
    border-style: none;
    padding: .8em;
    color: darken($color: white, $amount: 25);
    border-radius: 2px;
    &:focus{
        outline: 1px solid $primary;
    }

}





.__button_primary{
    background-color: $primary;
    border-style: none;
    padding: .8em;
    color: white;
    font-size: 10pt;
    border-radius: 2px;
    font-weight: bold;
    cursor: pointer;
    &:hover{
        background-color:  darken($color:$primary, $amount: 10);
    }
}
.__button_primary:disabled{
    opacity: 50%;
    cursor: not-allowed;
    &:hover{
        background-color:  $primary
    }
}


