$primary:#F88545;
$bg_dark: #111C27;
$bg_inside: #1D2435;
$bg_primary: #262F44;
$gray: #afb1b5;

//hero-color
$red: #A81548;
$blue: #3442D9;
$yellow: #F7DF1E;
$orange: #F2953A;
$green: #19B375;
$purple: #A73CBF;
$blue-sky: #66BCFF;

